apiVersion: karpenter.k8s.aws/v1
kind: EC2NodeClass
metadata:
  name: default
spec:
  role: "Karpenter-eks2-viktor-01-20251226151931948600000004" # IAM role for EC2 nodes
  amiSelectorTerms:
    - alias: "al2023@latest" # Use correct alias format: family@version
  subnetSelectorTerms:
    - tags:
        karpenter.sh/discovery: "eks2-viktor-01" # replace with your cluster name
  securityGroupSelectorTerms:
    - tags:
        karpenter.sh/discovery: "eks2-viktor-01" # replace with your cluster name
  tags:
      Name: "eks2-viktor-01" # replace with your cluster name
      team: "infra"
      resource_type: "dynamic"
      karpenter.sh/discovery: eks2-viktor-01

  blockDeviceMappings:
    - deviceName: /dev/xvda    # root
      ebs:
        volumeType: gp3
        volumeSize: 25Gi       # размер
        iops: 3000             # для gp3 можно настраивать iops/throughput (необязательно)
        throughput: 125        # MiB/s (необязательно)
        encrypted: true
        deleteOnTermination: true
