**/.terragrunt-cache/
**/.terraform.lock.hcl
venv
**.swp
**.idea
**.terraform
**.__pycache__
/docker/ping_pong/dist/*
terraform/environments/**/**
**.vscode

# Generated Python bytecode
__pycache__/
*.py[cod]
