apiVersion: v1
kind: Namespace
metadata:
  creationTimestamp: null
  name: team-19
spec: {}
status: {}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: team19
  name: team19
  namespace: team-19
spec:
  replicas: 1
  selector:
    matchLabels:
      app: team19
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: team19
    spec:
      containers:
      - image: viktoruj/ping_pong:alpine
        resources:
          requests:
            memory: "500Mi"
            cpu: "3"
        name: app
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: team19
  name: team19
  namespace: team-19
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 8080
  selector:
    app: team19

