---
apiVersion: v1
kind: Pod
metadata:
  labels:
    run: app-xyz3322
  name: app-xyz3322
spec:
  containers:
  - image: busybox
    name: app-xyz3322
    command:
      - '/bin/sh'
      - '-c'
      - 'while true; do echo "Hello from $(hostname)!"; sleep 30; done'
...
