---
apiVersion: v1
kind: Namespace
metadata:
  name: rsapp
---
apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: rs-app2223
  namespace: rsapp
  labels:
    app: app2223
spec:
  replicas: 2
  selector:
    matchLabels:
      app: rs-app2223
  template:
    metadata:
      labels:
        app: rs-app2223
    spec:
      containers:
      - name: redis
        image: rrredis:alpine
...
