---
apiVersion: v1
kind: Namespace
metadata:
  name: purple
  labels:
    istio-injection: enabled
---
apiVersion: v1
kind: Pod
metadata:
  name: purple-echo
  namespace: purple
  labels:
    app: purple-echo
    version: v1
spec:
  containers:
  - name: purple-echo
    image: viktoruj/cks-lab:ica_echo_version_app_v1
    ports:
    - containerPort: 8080
    resources:
      requests:
        cpu: "10m"
        memory: "64Mi"
      limits:
        cpu: "10m"
        memory: "64Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: purple-echo
  namespace: purple
spec:
  selector:
    app: purple-echo
  ports:
  - name: http
    port: 80
    targetPort: 8080
  type: ClusterIP
---
