apiVersion: v1
kind: Namespace
metadata:
  name: restricted
  labels:
    name: restricted
---
apiVersion: v1
kind: ServiceAccount
metadata:
  creationTimestamp: null
  name: k8api
  namespace: restricted
---
kind: Role
metadata:
  creationTimestamp: null
  name: k8api
  namespace: restricted
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  creationTimestamp: null
  name: k8api
  namespace: restricted
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: k8api
subjects:
- kind: ServiceAccount
  name: k8api
  namespace: restricted

---
apiVersion: v1
data:
  secret: MTExMTE=
kind: Secret
metadata:
  creationTimestamp: null
  name: secret1
  namespace: restricted
---
apiVersion: v1
data:
  secret: MjIyMjI=
kind: Secret
metadata:
  creationTimestamp: null
  name: secret2
  namespace: restricted
---
apiVersion: v1
data:
  secret: MzMzMw==
kind: Secret
metadata:
  creationTimestamp: null
  name: secret3
  namespace: restricted
---
apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: deployment1
  name: deployment1
  namespace: restricted
spec:
  replicas: 1
  selector:
    matchLabels:
      app: deployment1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: deployment1
    spec:
      volumes:
        - name: secret
          secret:
            secretName: secret1
            optional: true
      containers:
      - image: viktoruj/cks-lab
        name: busybox
        command: ['sh', '-c', 'while true ; do  echo "i am working ";  sleep 10  ;done']
        volumeMounts:
          - name: secret
            mountPath: "/var/secret"
            readOnly: true

---
apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: deployment2
  name: deployment2
  namespace: restricted
spec:
  replicas: 1
  selector:
    matchLabels:
      app: deployment2
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: deployment2
    spec:
      containers:
      - image: viktoruj/cks-lab
        name: busybox
        command: ['sh', '-c', 'while true ; do  echo "i am working ";  sleep 10  ;done']
        env:
          - name: SECRET_USERNAME
            valueFrom:
              secretKeyRef:
                name: secret2
                key: secret

---
apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: deployment3
  name: deployment3
  namespace: restricted
spec:
  replicas: 1
  selector:
    matchLabels:
      app: deployment3
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: deployment3
    spec:
      serviceAccountName: k8api
      containers:
      - image: viktoruj/cks-lab
        name: busybox
        command: ['sh', '-c', 'while true ; do  echo "i am working ";  sleep 10  ;done']


