---
apiVersion: v1
kind: Namespace
metadata:
  name: copper
  labels:
    istio-injection: enabled
---
apiVersion: v1
kind: Pod
metadata:
  name: copper-echo
  namespace: copper
  labels:
    app: copper-echo
spec:
  containers:
  - name: copper-echo
    image: viktoruj/cks-lab:ica_echo_version_app_v1
    imagePullPolicy: Always
    ports:
    - containerPort: 8080
    resources:
      requests:
        cpu: "10m"
        memory: "64Mi"
      limits:
        cpu: "10m"
        memory: "64Mi"
    env:
    - name: VERSION
      value: "v1"
    - name: POD_NAME
      valueFrom:
        fieldRef:
          fieldPath: metadata.name
    - name: NAMESPACE
      valueFrom:
        fieldRef:
          fieldPath: metadata.namespace
---
apiVersion: v1
kind: Service
metadata:
  name: copper-echo
  namespace: copper
spec:
  selector:
    app: copper-echo
  ports:
  - name: http
    port: 80
    targetPort: 8080
  type: ClusterIP
---
