---
apiVersion: v1
kind: Namespace
metadata:
  name: pink
  labels:
    istio-injection: enabled
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pink-echo
  namespace: pink
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pink-echo
  template:
    metadata:
      labels:
        app: pink-echo
    spec:
      containers:
      - name: pink-echo
        image: viktoruj/cks-lab:ica_echo_version_app_v1
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: "10m"
            memory: "64Mi"
          limits:
            cpu: "10m"
            memory: "64Mi"
        env:
        - name: VERSION
          value: "v1"
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
---
apiVersion: v1
kind: Service
metadata:
  name: pink-echo
  namespace: pink
spec:
  selector:
    app: pink-echo
  ports:
  - name: http
    port: 80
    targetPort: 8080
  type: ClusterIP
---
apiVersion: v1
kind: Pod
metadata:
  name: sleep-pink
  namespace: pink
  labels:
    app: sleep-pink
spec:
  containers:
  - name: sleep-pink
    image: curlimages/curl
    command: ["/bin/sh", "-c", "sleep 3600"]
    resources:
      requests:
        cpu: "10m"
        memory: "32Mi"
      limits:
        cpu: "10m"
        memory: "32Mi"
---