---
apiVersion: v1
kind: Namespace
metadata:
  name: white
  labels:
    istio-injection: enabled
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: white-echo
  namespace: white
spec:
  replicas: 1
  selector:
    matchLabels:
      app: white-echo
  template:
    metadata:
      labels:
        app: white-echo
    spec:
      containers:
      - name: white-echo
        image: bizy92/echo-version-app:v1
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: "10m"
            memory: "64Mi"
          limits:
            cpu: "10m"
            memory: "64Mi"
        env:
        - name: VERSION
          value: "v1"
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
---
apiVersion: v1
kind: Service
metadata:
  name: white-echo
  namespace: white
spec:
  selector:
    app: white-echo
  ports:
  - name: http
    port: 80
    targetPort: 8080
  type: ClusterIP

