apiVersion: v1
kind: Namespace
metadata:
  name: team-black10
  labels:
    name: team-black10

---

apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: app
  name: app
  namespace: team-black10
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      volumes:
        - name: secret-volume
          secret:
            secretName: tls

      containers:
      - image: viktoruj/ping_pong:alpine
        name: app
        volumeMounts:
           - name: secret-volume
             readOnly: true
             mountPath: "/mnt/secret-volume"

